#logoutbtn{
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 50%;
    height: 40px;
    left: 100%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 10pt;
}
#logoutbtn:hover{
    background-color: #407F40;
}

#Tabs{
    
}

#Tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#Tabs li {
    float: left;
}

#Tabs button{
    font-size: 10pt;
    color: white;
    background-color: black;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right-color: white;
    height: 5%;
    width: 200px;
}

#Tabs button:hover{
    
}

#contentSubmit {
    position: absolute;
    bottom: 0;
    right: 0;
    
}

#contentSubmit button{
    font-size: 10pt;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-right-color: white;
    height: 50px;
    width: 200px;
}

#contentSubmit button:hover{
    background-color: #28602a;
}

#GodkjentAvslaat{
    height: 40px;
    width: 20%;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

#GodkjentAvslaat p{
    font-size: 16pt;
    color: white;
}

#GodkjentAvslaat img{
    height: 35px;
    margin-right: 40px;
    float: right;
}

#reset{
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 50%;
    height: 40px;
    left: 100%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 10pt;
    float: right;
    margin-right: 10px;
}
#reset:hover{
    background-color: #407F40;
}

#quillText{
    width: 60%;
    float: left;
}

#console{
    width: 30%;
    float: left;
}