body {
    background-color: #16181E;
    
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 20pt;
    text-align: center;
    margin-top: 60px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#logo{
    width: 25%;
    height: 25%;
    display: block;
    margin: auto;
}

#createLogin {
    width: 25%;
    height: 40%;
    background-color: #24333B;
    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    max-width:100%;
    max-height:100%;
    overflow:auto;
    border-radius: 5px;
}


.button{
    background-color: #24333B;
    border: none;
    color: white;
    float: left;
    width: 50%;
    height: 40px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 10pt;
}

.button:hover{
    background-color: #4CAF50;
}

#container {
    margin-left: 20px;
    margin-right: 20px;
}

#input_left{
    margin-top: 20px;
    border: 1px solid white;
    background-color: 24333B;
    width: 47%;
    float: left;
    border-radius: 2px;
    height: 25px;
}

#fornavn{
    margin-top: 20px;
    border: 1px solid white;
    background-color: 24333B;
    width: 47%;
    float: left;
    border-radius: 2px;
    height: 25px;
}

#pass{
    margin-top: 20px;
    border: 1px solid white;
    background-color: 24333B;
    width: 47%;
    float: left;
    border-radius: 2px;
    height: 25px;
}

#repPass{
    margin-top: 20px;
    border: 1px solid white;
    background-color: 24333B;
    width: 47%;
    float: right;
    border-radius: 2px;
    height: 25px;
}

#input_right{
    margin-top: 20px;
    border: 1px solid white;
    background-color: 24333B;
    width: 47%;
    float: right;
    border-radius: 2px;
    height: 25px;
}

#etternavn{
    margin-top: 20px;
    border: 1px solid white;
    background-color: 24333B;
    width: 47%;
    float: right;
    border-radius: 2px;
    height: 25px;
}

#input{
    margin-top: 20px;
    border: 1px solid white;
    background-color: 24333B;
    width: 100%;
    border-radius: 2px;
    height: 25px;
}

#regMail{
    margin-top: 20px;
    border: 1px solid white;
    background-color: 24333B;
    width: 100%;
    border-radius: 2px;
    height: 25px;
}

#logMail{
    margin-top: 20px;
    border: 1px solid white;
    background-color: 24333B;
    width: 100%;
    border-radius: 2px;
    height: 25px;
}

#logPass{
    margin-top: 20px;
    border: 1px solid white;
    background-color: 24333B;
    width: 100%;
    border-radius: 2px;
    height: 25px;
}

#regbtn{
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 10pt;
}

#regbtn:hover{
    background-color: #407F40;
}

input {
    color: white;
}

input:focus {
  outline-color: transparent;
  outline-style: none;
}

#input_checkbox{
    position: absolute;
    bottom: 48;
    left: 80;
}

#feilmelding{
    position: absolute;
    bottom: 48;
    right: 20;
}

#container p{
    position: absolute;
    bottom: 35;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 10pt;
}






