<html>
    <head>
        <link rel="stylesheet" type="text/css" href="login.css">
        <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="login.js"></script>
    </head>
    <body>
        <header>
        </header>
        <main>
            <div id="login">
              <form id="log" action="login.html">
                <input name="email" type="email" placeholder="email" value="">
                <input name="password" type="password" placeholder="password" value="">
                <input type="submit" value="Go">
            </div>
        </main>
    </body>
</html>
