<html>
    <head>
        <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="addLecture.js"></script>
        <script src="tab.js"></script>
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/style_menu.css">
        <link rel="stylesheet" href="../loggedInIndex/index.css">
        <link rel="stylesheet" href="addLecture.css">


    </head>
    <body onload="init();">
        <header>
            <div id="auroradiv">
                <img src="../../img/logo.png" id="aurora">
            </div>
        </header>
        <main>
            <div id="leftcolum">
                <div id="user">
                    <img id="userimg" src="../../img/user.png">
                    <p id="username">[insert user name]</p>
                    <button id="logoutbtn">Logg ut</button></li>
                </div>
                <li class="dropdown">
                <a href="#" data-toggle="dropdown">Javascript <i class="icon-arrow"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Øving_1</a></li>
                        <li><a href="#">Øving_2</a></li>
                        <li><a href="#">Øving_3</a></li>
                        <li><a href="#">Øving_4</a></li>
                    </ul>
                </li>
            <div id="settings">
                <p>settings <img src="../../img/Settings.png" id="settingsimg"></p></li>
            </div>
            </div>
            <div id="Tabs">
                    <ul>
                        <li><button id="fag" onclick="return fag();">fag</button></li>
                        <li><button id="forelesning" onclick="return forelesning();">forelesning</button></li>
                        <li><button id="øving" onclick="return  oving();">øving</button></li>
                    </ul>
                </div>
            <div id="Controll">
                
                <div id="ControllMenu">
                    <p id="menuTitle">Dine fag</p>
                    <ul id="lectures">

                    </ul>
                    <button id="addLecture">legg til forelesning</button>
                </div>
                <div id="ControllContent">
                    <h1>Controllpanel</h1>
                    <div id="fagside" style="display:block;">
                        <br>
                        <br>
                        <form id="fagForm">

                            <h2>Fagnavn</h2>
                            <input type="text" id="course_title">
                            
                            <div id="addExcerciseContainer">
                                <button id="addCourse">legg til fag</button>
                            </div>
                        </form>
                    </div>
                    <div id="forelesningside" style="display:none;">
                        <br>
                        <br>
                        <form id="lectureForm">
                            
                            <div id="PowerPoint">
                                <h2>Velg fag</h2>
                                <select>
                                    <option value="fag1">fag1</option>
                                    <option value="fag2">fag2</option>
                                </select>
                                <h2>Tittel</h2>
                                <input type="text" id="course_title">
                                <p>PowerPoint</p>
                                <input id="powerpointFile" type="file" style="color:white;">
                            </div>

                            <div id="addExcerciseContainer">
                                <button id="addLecture">legg til Forelesning</button>
                            </div>
                        </form>
                    </div>
                    <div id="øvingsside" style="display:none;">
                        <br>
                        <br>
                            <div id="exercises">
                                <h2>Velg Forelesning</h2>
                                <select>
                                    <option value="fag1">Forelesning 1</option>
                                    <option value="fag2">Forelesning 2</option>
                                </select>
                                <h2>Øving tittel</h2>
                                <input type="text" id="exercise_title"></br>
                                <h2>Øving beskrivelse</h2>
                                <textarea id="descriptions" rows="4" cols="50" form="lectureForm"></textarea></br>
                                <p>input</p>
                                <input type="text" id="input">
                                <p>Forventet output</p>
                                <input type="text" id="output">
                            </div>
                            <div id="addExcerciseContainer">
                                <button id="addExercise">legg til Øving</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="../../js/drop_down_menu.js"></script>

        </main>
    </body>
</html>
