h1 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 20pt;
    margin-top: 50px;
}

h2 {
    font-size: 14pt;
    color: white;
}

#titleError{
    color:red;
}

.hidden{
    display: none;
}

.show{
    display: block;
}

#Controll {
    background-color: #0B0C16;
    width: 60%;
    float: left;
    margin-right: 1.2%;
    height: 85%;
    position:relative;
}

#ControllMenu {
    text-align: center;
    background-color: #24333B;
    width: 20%;
    position:absolute;
    height:100%;
    overflow-y: scroll;
}

#ControllMenu ul{
    list-style:none;
    padding-left:0;

}

#ControllMenu li{
    width: 100%;
    background-color: #24333B;
    padding: 10px 0px 10px 0px;
    text-align: left;
}

#ControllMenu li:hover{
    background: #0B0C16;
}

#ControllMenu a {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    margin-left: 20px;
}

#addLecture {
    position: absolute;
    left: -200;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 10pt;
}


#ControllContent{
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
}

#ControllContent p{
    margin-top: 20px;
    padding: 0;
    position: relative;
}

#PowerPoint {
    position: relative;
    float: left;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
}



#exercises {
    position: relative;
    float: left;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
}



#tittel {
    background-color: #0B0C16;
    border: 1px solid white;
    height: 25px;
    width: 35%;
    color: white;
}

#ovinger{
    position: relative;
    float: left;
    width: 100%;
    height: 80%;
    margin-left: 20px;
}

#ovinger ul{
    list-style:none;
    padding-left:0;

}

#ovinger li{
    width: 100%;
    text-align: left;
    color: white;

}

#beskrivelse{
    background-color: #0B0C16;
    border: 1px solid white;

    width: 35%;
    color: white;
}

#addExcerciseContainer{
    position: absolute;
    bottom: 0;
    right: 0;
}

#addExcerciseContainer button{
    font-size: 10pt;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-right-color: white;
    height: 50px;
    width: 200px;
}

#addExcerciseContainer button:hover{
    background-color: #28602a;
}

#beskrivelse {
    color: white;
    background-color: #0B0C16;
}

#input_1 {
    background-color: #0B0C16;
    border: 1px solid white;
    height: 25px;
    width: 35%;
    color: white;
    margin: 5px 20px 5px 0px;
}

#output_1 {
    background-color: #0B0C16;
    border: 1px solid white;
    height: 25px;
    width: 35%;
    color: white;
    margin: 5px 20px 5px 0px;
}

#input_2 {
    background-color: #0B0C16;
    border: 1px solid white;
    height: 25px;
    width: 35%;
    color: white;
    margin: 5px 20px 5px 0px;
}

#output_2 {
    background-color: #0B0C16;
    border: 1px solid white;
    height: 25px;
    width: 35%;
    color: white;
    margin: 5px 20px 5px 0px;
}

#input_3 {
    background-color: #0B0C16;
    border: 1px solid white;
    height: 25px;
    width: 35%;
    color: white;
    margin: 5px 20px 5px 0px;
}

#output_3 {
    background-color: #0B0C16;
    border: 1px solid white;
    height: 25px;
    width: 35%;
    color: white;
    margin: 5px 20px 5px 0px;
}

#Tabs {
    width: 77.4%;
}

#Tabs button{
    font-size: 10pt;
    color: white;
    background-color: black;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right-color: white;
    height: 5%;
    width: 200px;
}

#Tabs button:hover{
    background-color: #4CAF50;
}
#Tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#Tabs li {
    float: left;
}

#forelesninglink{
    border: none;
    text-decoration: none;
    color: white;
    width: 100%;
    left: 100%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 10pt;
}

#settings:hover{
    background-color: #407F40;
}

#settings {
    position: absolute;
    bottom: 0;
    margin: 10px 10px 10px 0px;
    padding-top: 10px;
    width: 15%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
}

#fagside{
    position: relative;
    float: left;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
}
